.form{
    border: 3px solid rgba(69, 66, 66, 0.868);
    width: 300px;
    text-align: center;
    border-radius: 5px;
}
.name{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    height: 20px;
    max-width: 500px;
    padding: 10px;
    margin-left: 13px;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 250px;
}
.name input{
    width: 100%;
    outline: 0;
    border: 0.5px solid green;
    border-radius: 5px;
}
.concat{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    height: 20px;
    max-width: 500px;
    padding: 10px;
    margin-left: 13px;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 250px;
}
.concat input{
    width: 100%;
    outline: 0;
    border: 0.5px solid green;
    border-radius: 5px;
}
.password{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    height: 20px;
    max-width: 500px;
    padding: 10px;
    margin-left: 13px;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 250px;
}

.password input{
    width: 100%;
    outline: 0;
    border: 0.5px solid green;
    border-radius: 5px;
}

.email{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    height: 20px;
    max-width: 500px;
    padding: 10px;
    margin-left: 13px;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 250px;
}

.email input{
    width: 100%;
    outline: 0;
    border: 0.5px solid green;
    border-radius: 5px;
}

.conform_password{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    height: 20px;
    max-width: 500px;
    padding: 10px;
    margin-left: 13px;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 250px;
}

.conform_password input{
    width: 100%;
    outline: 0;
    border: 0.5px solid green;
    border-radius: 5px;
}

.gender{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    height: 20px;
    max-width: 500px;
    padding: 10px;
    margin-left: 13px;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 250px;
}

.gender input{
    width: 100%;
    outline: 0;
    border: 0.5px solid green;
    border-radius: 5px;
}

.login{
    margin-bottom: 10px;
}